.d3-chart {
	width: 100%;
	height: 800px;
	padding: 15 15 15 15;
	margin: 2em 2em 2em 2em;
	background-color: white;

	svg {
		background-color: 1px thick green;
	}
	.axis {
		path,
		line {
			stroke: #999;
		}
		text {
			fill: #999;
		}
	}
}
